Project Proposal for Lewis, Sam, Heidi, and Kellan


Team Name
 WaffleIron.


Application Name
 Dreamscape.


 Front End
 Angular, CSS, HTML5 


Back End
 Node and Express





Database
 NoSQL


Deployment
Amazon Web Services

Initial Features User Stories


Profile:

When you access website, the first page brought up will include login and create a profile options. 
Create profile would include name, email, and password.
The reader/commenter User gets an avatar option when building profile (maybe a a stretch goal)



Pages:
Our Vision would be on home page; Users like to know origin stories and the passion and why to strengthen that relationship between blogger and visitors.
Nav bar will be located on all pages directing to Our Vision, Contact Us, Dream Board, and Popular Posts
Dream Board will be a place for guests or profiles to submit their dream as a public post.
User needs to be able to comment on any post, edit only their own, delete their own only posts.
Popular Posts will include the posts most of our users have found interesting.
Contact form located on Contact Us page for our visitors or users who engage with us to reach out to any of us privately.
Opt in form to start collecting email subscribers. The user would be clicking a ‘Subscribe here’ link that is placed in multiple areas on each page of our blog. A stretch goal here would be to add a pop-up window or landing page that would promote a free giveaway item sent to them via email when they do subscribe (we can send them a link to a live DVD event of a Dream Conference or something like that)



Social Media:
Social media shareability of content. Posts need option to be shared to top social media sites. 
The blogger having ability to include a “Tweet This” capability on those super awesome tweetable quotes in his blog. The user can then click the link to tweet it. A Twitter API would be needed here I believe.
“Share This” option as well; would pop up top social media sites to share it with.

 	User Stories:

As a user I want to be able to create a profile with my email address.
As a user, I want to be able to log in with a username and password.
As a user, I want to be able to update my profile with an avatar.
As a user, I want to be able to update information about myself in my profile.
As a user, I want to be able to make a post.
As a user, I want to be able to edit a post I’ve made, after I’ve posted it.
As a user, I want to be able to delete my post after I’ve posted it.
As a site administrator, I want to be able to delete people’s posts after they’ve been posted, if they don’t meet the standards of conduct.
As a user, I want to be able to comment on other people’s posts.
As a user, I want to be able to contact the website administrators via a contact form built into the website.
As a user, I want to be able to subscribe to an email distribution list sent out by the website.
As a user, I want to be able to share a post to my favorite social media website. 
As a user, I want to be able to logout of the website.

Source Control
 GitHub
